<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8">
    <title>NAVDURGA</title>
    <h1 align="center">NINE FORMS OF DURGA</h1>
    <div>
        <table>
            <tr>
                <td>
                    <img src="static\images\shailaputri_durga_1.jpg" height="400" width="300">
                    </br>
                    <form action="/DurgaInterface/shailaputri">
                        <center><button type="submit">SHAILAPUTRI</button></center>
                    </form>
                </td>
                <td>
                    <img src="static\images\brahmacharini_durga_2.jpg" height="400" width="300">
                    </br><center><button>BRAHMACHARINI</button></center>
                </td>
                <td>
                    <img src="static\images\chandraghanta_durga_3.jpg" height="400" width="300">
                    </br><center><button>CHANDRAGHANTA</button></center>
                </td>
            </tr>
            </br>
            <tr>
                <td>
                    <img src="static\images\kushmanda_durga4.jpg" height="400" width="300">
                    </br><center><button>KUSHMANDA</button></center>
                </td>
                <td>
                    <img src="static\images\skandamata_durga_5.jpg" height="400" width="300">
                    </br><center><button>SKANDAMATA</button></center>
                </td>
                <td>
                    <img src="static\images\katyayani_durga_6.jpg" height="400" width="300">
                    </br><center><button>KATYAYANI</button></center>
                </td>
            </tr>
            </br>
            <tr>
                <td>
                    <img src="static\images\kalaratri_durga_7.jpg" height="400" width="300">
                    </br><center><button>KALARATRI</button></center>
                </td>
                <td>
                    <img src="static\images\mahagauri_durga_8.jpg" height="400" width="300">
                    </br><center><button>MAHAGAURI</button></center>
                </td>
                <td>
                    <img src="static\images\siddhidatri_durga_9.jpg" height="400" width="300">
                    </br><center><button>SIDDHIDATRI</button></center>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>