<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8">
    <title>NAVDURGA</title>
    <h1 align="center">NINE FORMS OF DURGA</h1>
    <div>
        <table>
            <tr>
                {% for i in range(1,4) %}
                <td>
                    <img src="static\images\{{ goddess_images[i] }}" height="500" width="400">
                    </br>
                    <form action="/DurgaInterface/{{ goddess_names[i] }}">
                        <center><button type="submit">{{ goddess_names[i] }}</button></center>
                    </form>
                </td>
                {% endfor %}
            </tr>
            </br>
            <tr>
                {% for i in range(4,7) %}
                <td>
                    <img src="static\images\{{ goddess_images[i] }}" height="500" width="400">
                    </br>
                    <form action="/DurgaInterface/{{ goddess_names[i] }}">
                        <center><button type="submit">{{ goddess_names[i] }}</button></center>
                    </form>
                </td>
                {% endfor %}
            </tr>
            </br>
            <tr>
                {% for i in range(7,10) %}
                <td>
                    <img src="static\images\{{ goddess_images[i] }}" height="500" width="400">
                    </br>
                    <form action="/DurgaInterface/{{ goddess_names[i] }}">
                        <center><button type="submit">{{ goddess_names[i] }}</button></center>
                    </form>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</body>

</html>